<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
			<%= csrf_meta_tag %>
          <meta name ="viewport", content="width=device-width ,initial-scale=1" >
          <script src="https://use.fontawesome.com/a557c4c04f.js"></script>
		<%= render 'layouts/stylesheets' %>

	</head>
<body>
			<%= yield %>
</body>
<%= render 'layouts/jquery' %>
</html>
