<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
			<%= csrf_meta_tag %>
          <meta name ="viewport" content="width=device-width ,initial-scale=1" >

		<%= render 'layouts/stylesheets' %>

	</head>
<body>
			<%= yield %>

  <section id="contact">
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3><strong><font color="#e93811">J</font></strong><span><font color="white">Vac</font></span></h3>
        <nav>
        <p class="footer-links">
          <a href="#banner">Home</a>
          .
          <a href="#features1">Features</a>
          .
          <a href="#about">About Us</a>


        </p>
        </nav>

        <p class="footer-company-name"><strong><font color="#e93811">J</font></strong>Vac &copy; 2015</p>
      </div>



      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span></span>Kathmandu, Nepal</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+977-9860090688</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com"><font color="#e93811">Support@jvac.com</font></a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the Company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>

      </div>

    </footer>
</section>

</body>


<%= render 'layouts/jquery' %>
</html>
